@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Reef Database for Saltwater Fish, Corals, & Invertebrates</h1>
    <p>Developed by Giuliano Verdone. <a href="https://github.com/Verdone">GitHub</a> | 
        <a href="https://www.linkedin.com/in/giuliano-verdone/">LinkedIn</a>
    </p>
</div>
