@model ReefAquariumDatabase.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimalName" class="control-label"></label>
                <input asp-for="AnimalName" class="form-control" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genus" class="control-label"></label>
                <input asp-for="Genus" class="form-control" />
                <span asp-validation-for="Genus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salinity" class="control-label"></label>
                <input asp-for="Salinity" class="form-control" />
                <span asp-validation-for="Salinity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet" class="control-label"></label>
                <input asp-for="Diet" class="form-control" />
                <span asp-validation-for="Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinTankSize" class="control-label"></label>
                <input asp-for="MinTankSize" class="form-control" />
                <span asp-validation-for="MinTankSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceRange" class="control-label"></label>
                <input asp-for="PriceRange" class="form-control" />
                <span asp-validation-for="PriceRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
